body {
    background-color: #212c3d;
    color: #ffffff;
}

.title {
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.sub_title {
    font-size: 30px;
    text-align: center;
}

.add_todo {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.add_todo_text_input {
    width: 30%;
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    border: none;
    color: #212c3d;
}

.clearAll {
    width: fit-content;
    height: 50px;
    padding: 50px auto;
    font-size: 16px;
    margin: auto;
    text-align: center;
}

.todos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    max-width: 30%;
    overflow-wrap: normal;
}

.todoItems {
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo {
    padding: 12px;
    width: 80%;
    margin-right: auto;
    text-align: left;
    word-wrap: break-word;
    border-left: 5px solid #fff;
}

.todo span {
    font-size: 14px
}

.todoValue {
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.options {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.edit {
    cursor: pointer;
    margin: 0px 16px;
    color: rgb(31, 192, 31);
}

.delete {
    margin: 0px 16px;
    cursor: pointer;
    color: rgb(245, 38, 38)
}

.pagination {
    padding: 10px;
    margin: 16px 0;
    display: flex;
    justify-content: center;
}

.pagination>span {
    padding: 15px 20px;
    cursor: pointer;
}

.page_selected {
    font-weight: bold;
}

.button_disabled {
    opacity: 0;
}

.todo_pagination_icon {
    font-size: 20px;
}